@model  MusicHub.ViewModels.OrderViewModel
@{
     ViewData["Title"] = "My Order History";
}
@{
     ViewData["Title"] = "Order Detail";
}

<div class="shop-orders-detail">
     <div class="container">
          <section class="shop-orders-detail-section">
               <article class="shop-orders-detail-titles row">
                    <section class="shop-orders-detail-title col-xs-3">OrderNumber</section>
                    <section class="shop-orders-detail-title col-xs-3">Date</section>
                    <section class="shop-orders-detail-title col-xs-2">Total</section>
                    <section class="shop-orders-detail-title col-xs-3">Status</section>
               </article>



               <article class="shop-orders-detail-items row">
                    <section class="shop-orders-detail-title col-xs-3">@Model.OrderNumber</section>
                    <section class="shop-orders-detail-title col-xs-3">@Model.OrderDate</section>
                    <section class="shop-orders-detail-title col-xs-2">@Model.Total.ToString("N2")</section>
                    <section class="shop-orders-detail-title col-xs-3">@Model.Status</section>
               </article>

               <section class="shop-orders-detail-section">
                    <article class="shop-orders-detail-titles row">
                         <section class="shop-orders-detail-title col-xs-12">Shipping Address</section>
                    </article>

                    <article class="shop-orders-detail-items row">
                         <section class="shop-orders-detail-item col-xs-12">@Model.ShippingAddress.ShippingAddress</section>
                    </article>

                    <article class="shop-orders-detail-items row">
                         <section class="shop-orders-detail-item col-xs-12">@Model.ShippingAddress.City</section>
                    </article>

                    <article class="shop-orders-detail-items row">
                         <section class="shop-orders-detail-item col-xs-12">@Model.ShippingAddress.Country</section>
                    </article>
               </section>

               <section class="shop-orders-detail-section">
                    <article class="shop-orders-detail-titles row">
                         <section class="shop-orders-detail-title col-xs-12">ORDER DETAILS</section>
                    </article>

                    @for (int i = 0; i < Model.OrderItems.Count; i++)
                    {
                         var item = Model.OrderItems[i];
                         <article class="shop-orders-detail-items esh-orders-detail-items--border row">
                              <section class="shop-orders-detail-item col-md-4 hidden-md-down">
                                   <img class="shop-orders-detail-image" src="@item.PictureUrl">
                              </section>
                              <section class="shop-orders-detail-item esh-orders-detail-item--middle col-xs-3">@item.ProductName</section>
                              <section class="shop-orders-detail-item esh-orders-detail-item--middle col-xs-1">$ @item.UnitPrice.ToString("N2")</section>
                              <section class="shop-orders-detail-item esh-orders-detail-item--middle col-xs-1">@item.Units</section>
                              <section class="shop-orders-detail-item esh-orders-detail-item--middle col-xs-2">$ @Math.Round(item.Units * item.UnitPrice, 2).ToString("N2")</section>
                         </article>
                    }
               </section>

               <section class="shop-orders-detail-section esh-orders-detail-section--right">
                    <article class="shop-orders-detail-titles esh-basket-titles--clean row">
                         <section class="shop-orders-detail-title col-xs-9"></section>
                         <section class="shop-orders-detail-title col-xs-2">TOTAL</section>
                    </article>

                    <article class="shop-orders-detail-items row">
                         <section class="shop-orders-detail-item col-xs-9"></section>
                         <section class="shop-orders-detail-item esh-orders-detail-item--mark col-xs-2">$ @Model.Total.ToString("N2")</section>
                    </article>
               </section>

          </section>
     </div>
</div>

