@using Microsoft.ApplicationInsights
@using Microsoft.AspNetCore.Http
@model IEnumerable<Album>
@{
    ViewData["Title"] = "Product Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1>Album Details</h1>
    @foreach (var a in Model)
    {
        <div class="container">
            <div class="row">
                <div class="caption">
                    <div class="Album-Title">
                        <h3>
                             @a.Title
                        </h3>
                    </div>
                    <div class="Album">
                        <div class="img-thumbnail">
                            <img src="@a.ImageUrl">
                            <div>
                                <h5>Track List</h5>
                            </div>
                            <ol>
                                <li>@a.Description</li>
                            </ol>
                        </div>
                    </div>
                </div>
          </div>
        </div>
    }
     <h3>Rating and Comments</h3>
<table border="1" cellpadding="2" cellspacing="2">
     if(@User.Identity.IsAuthenticated == "false"){
     <a href="@Url.Action("Login","Account")">Login to post your comment</a>
</table>
</body>
